.overlay {
    position: fixed;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    backdrop-filter: blur(2px);
    background: rgb(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    transition: 0.3s;
    padding: 50px;
}

.overlay.show {
    pointer-events: all;
    opacity: 1;
}

.data {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, .1);
    padding: 36px;
    width: 600px;
}

.flex1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex1 i {
    cursor: pointer;
    font-size: 24px;
}

.flex1 p {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.more {
    margin-top: 30px;
}

.more div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 15px;
    font-weight: 400;
}

.more div:not(:nth-child(1)) {
    margin-top: 10px;
}

.more div p:nth-child(2) {
    color: #8189A3;
    text-align: right;
    max-width: 300px;
}